header{
    background-color: $theme;
    box-shadow: 0 0 5px 0 $shadow;
    nav {
        padding: 5px 0;
        .logo {
            height: $header-height;
            background-image: url('/assets/img/logo1.jpeg');
            background-position: left;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .sections {
            float: right;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    margin: auto 15px;
                    a {
                        color: $white;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: 8px 20px;
                        border-radius: 4px;
                        &:hover {
                            background-color: darken($theme, 10%);
                        }

                    } 
                }
            }
        }
    } 
}