@import "_colors.scss";
@import "_variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "_footer.scss";
@import "_header.scss";
@import "_section_contacta.scss";
@import "_section_inicio.scss";
@import "_section_nosotros.scss";
@import "_section_servicios.scss";

html {
        width: 100vw;
        margin: 0 auto;
    body {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: $font;
        margin: 0 auto;
        section {
            width: 100%;
            height: 100vh;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.logo {
    width: 100%;
    height: 100vh;
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
}

html, html body {
    background-color: #e31e25;
}